a {
    text-decoration: none;
    color: inherit;
}
ul,li {
    list-style: none;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, html {
    width: 100%;
    font-family: 'GmarketSansMedium';
}
button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
/* ------------------------------------------------------- */
/* header */
#header { padding: 10px; }
#header > a {
    display: block;
    width: 165px;
    margin: 0 auto;
}
/* ------------------------------------------------------- */
/* nav */
#nav-container {
    color: black;
    transition: 0.3s ease-in;
    height: 50px;
}
#nav-container::after {
    content: "";
    display: block;
    border-bottom: 2px solid #ddd;
}
#nav {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
#nav > ul > li {
    float: left;
    width: 171px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}
#nav > ul::after {content: ""; display: block; clear: both;}
#nav > ul > li > a {
    display: block;
    
}
#nav > ul > li > a:hover {
    background-color: #00897a;
    color: white;
    font-weight: bold;
}
.submenu {
    position: absolute;

    top: 100%;
    left: 0; right: 0;
    font-size: 16px;

    width: 1200px;
    opacity: 0;
    transition: 0.3s 0.2s;

    color: black;
}
.submenu::after { content: ""; display: block; clear: both; }
#submenu6 {
    position: absolute;
    top: 100%;
    left: 71%; right: 0;
    font-size : 16px;

    width: 171px;
}
#submenu7 {
    position: absolute;
    top: 100%;
    left: 86%; right: 0;
    font-size : 16px;

    width: 171px;
}
.submenu > li {
    width: 171px;
    float: left;
}
#nav > ul > li:hover ul {opacity: 1;}
.submenu > li > a {
    display: block;
}
.submenu > li > a:hover {
    background-color: #00897a;
    color: white;
}
/* ------------------------------------------------------- */
/* banner */
#banner {
    width: 100%;
    position: relative;
    overflow: hidden;
}
#banner-container {
    width: 300%;
}
#banner-container::after{ content: ""; display: block; clear: both; }
#banner-container > li {
    float: left;
    width: 33.3%;
}
#banner-container > li > img {
    display: block;
    width: 100%;
    height: 880px;

    object-fit: cover;
}
/* 블릿 목록 */
#bullets {
    position: absolute;
    bottom: 20px; left: 50%;
    transform: translateX(-50%);
}
#bullets > li { float: left; margin: 0 10px; }
#bullets > li > a {
    display: block;
    color: transparent;
    width: 20px; height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    transition-duration: 400ms;
}
#bullets > li > a.on { background-color: white; }
/* ------------------------------------------------------- */
/* containers - container1 */
#containers { width: 100%; }
#container1 {
    padding-top: 30px;
    width: 1200px;
    margin: 0 auto;
}
#container1 > h2 {
    padding: 30px;
    font-size: 37px;
    font-weight: bold;
    text-align: center;
}
#icon {
    width: 1200px;
    margin-top: 30px;
}
#icon1::after {content: ""; display: block; clear: both;}
#icon2::after {content: ""; display: block; clear: both;}
#icon1 > a, #icon2 > a {
    float: left;
    margin-left: 100px;
    text-align: center;
}
#icon1 > a > p, #icon2 > a > p {
    font-size: 21px;
    margin-top: 20px;
    line-height: 40px;
    width: 220px;
    height: 40px;
    background-color: #e4e8f1;
    border-radius: 50px;
}
#icon1 > a > img, #icon2 > a > img {
    width: 150px;
    height: 120px;
    object-fit: contain;
}
#icon1 > a:nth-child(1), #icon2 > a:nth-child(1) {
    margin-left: 0;
}
#icon2 {
    margin-top: 60px;
}
/* ------------------------------------------------------- */
/* containers - container2 */
#container2 {
    width: 1200px;
    height: 330px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;

    position: relative;
}
#container2 > ul {
    width: 300%;
    position: absolute;
    top: 110px;
    left: 0;
}
#container2 > ul > li {
    width: 33.33%;
    float: left;
}
#container2 > ul::after {content: ""; display: block; clear: both;}
#container2 > ul > li > img {
    width: 600px;
    float: left;
}
.container2-text {
    width: 500px;
    float: left;
    margin-left: 30px;
}
.container2-text > h2 {
    font-size: 25px;
    font-weight: bold;
    line-height: 70px;
    margin-top: 10px;
}
.container2-text > p {
    font-size: 20px;
    line-height: 25px;
    height: 50px;
}
.container2-text > a {
    display: block;
    width: 150px;
    border: 2px solid #0c0c0c;
    margin-top: 60px;

    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
#container2 > button {
    width: 60px;
    height: 60px;
    background-color: #465fac;
}
#container2 > button > img {
    width: 30px;
}
#prev {
    position: absolute;
    bottom: 90px;
    right: 90px;
}
#next {
    position: absolute;
    bottom: 90px;
    right: 20px;
}
/* ------------------------------------------------------- */
/* footer */
#footer {
    width: 100%;
    background-color: #ddd;

    font-family: 'NotoSansKR';
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}
#information {
    width: 670px;
    margin: 0 auto;
    padding: 10px;
}
#information::after {content: ""; display: block; clear: both;}
#information > a {
    display: block;
    float: left;
    padding: 10px;
}
#information > span {
    float: left;
    padding: 10px;
}
#footer-contents {
    width: 950px;
    margin: 0 auto;
}
#footer-contents::after {content: ""; display: block; clear: both;}
#footer-contents > img {
    padding: 10px 0;
    width: 190px;
    float: left;
    margin-left: 100px;
}
#footer-contents > p {
    float: left;
    padding: 10px 0;
    margin-left: 150px;
}